body {
    margin: 0;
    padding: 0;
    background: #dfe1eb; /* Цагаан биш, саарал */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

#gameContainer {
    background: #000066;
    padding: 0;
    margin-top: 20px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

#myCanvas {
    display: block;
    background: #000066;
}

/* Game over panel */
#gameOverPanel {
    display: none;
    text-align: left;
    margin-top: 20px;
    padding: 20px;
    width: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

#gameOverPanel h2 {
    margin: 0 0 10px 0;
}

#restartBtn {
    margin-top: 10px;
}
